<div class="mdme">
    <div class="mdme-nav">
        <button
                id="write-{{ widget.name }}-But"
                type="button"
                class="active"
                onclick="switchWritePreview('{{ widget.name }}','write')">
            Write
        </button>
        <button id="preview-{{ widget.name }}-But"
                type="button"
                onclick="switchWritePreview('{{ widget.name }}','preview')">
            Preview
        </button>
    </div>
    <div class="mdme-container">
        <textarea
                id="write-{{ widget.name }}"
                name="{{ widget.name }}"
                class="mdme-tab"
                style="min-height: {% for name, value in widget.attrs.items %}{% if name == 'rows' %}{{value}}{% endif %}{% endfor %}em; max-height: {% for name, value in widget.attrs.items %}{% if name == 'rows' %}{{value}}{% endif %}{% endfor %}em;">{% if widget.value %}{{ widget.value }}{% endif %}
        </textarea>
        <div
                id="preview-{{ widget.name }}"
                class="mdme-tab"
                style="min-height: {% for name, value in widget.attrs.items %}{% if name == 'rows' %}{{value}}{% endif %}{% endfor %}em; max-height: {% for name, value in widget.attrs.items %}{% if name == 'rows' %}{{value}}{% endif %}{% endfor %}em; display:none;">
        </div>
    </div>
</div>
